<div class="about-div">
<h2> ABOUT </h2>
<p> Musings is a diary of a different sort.  </p>
<p> Simply take a selfie. Note your thoughts! </p><p>Musings wants to capture and help you save those special thoughts and moments that you have in your day to day life.</p>

</div>
