<div class="simplecenter">

  <h3>YOUR HOMEPAGE</h3>
  <% if session[:user] == nil %>
    <p>
      Sign up!
    </p>
    <% elsif session[:user] != nil %>
      <p>Welcome back,
        <%= session[:user].first_name %>
        <p>
        <% end %>

        <div class="new-post-box">
          <form action="/account" method="post">
            <h3>New post</h3>
            <textarea id="post-content" name="content" placeholder="YOUR MUSING" required="required" maxlength="200"></textarea><br>
            <input id="post-image" name="image_url" placeholder="SELFIE URL (optional)"></input><br>
            <input type="submit" value="MUSE">
          </form>
        </div>

        <a href="/deleteaccount">
          DELETE
        </a>

        <div class="posts">
          <% @allposts.each do |q| %>
            <div class="eachpost">
              <%= q.content %><br>
              <%= q.creator %><br>
              <hr>
            </div>
          <% end %>
        </div>
      </div>
