<div class="delete-prompt">
<hr>
ARE YOU CERTAIN?<br>
THIS ACTION IS FINAL AND IRREVERSIBLE!

<form action="/deleteaccount" method="post">
<input type="submit" value="DELETE">
</form>

WE'LL MISS YOU!
<hr>
</div>
