<div class="homediv">

<div class="home-container">
  <div class="home-left">
    <div id="stage">
      <a href="/signup"><img src="images/carousel1.png"></a>
      <a href="/signup"><img src="images/carousel2.png"></a>
      <a href="/signup"><img src="images/carousel3.png"></a>
      <a href="/signup"><img src="images/carousel4.png"></a>
      <a href="/signup"><img src="images/carousel5.png"></a>
    </div>
  </div>
  <div class="home-right">
    <div class="main-bubble">
      <h1>
        MUSINGS
      </h1>
    </div>
    <div class="flavortext">
      <p>Welcome to musings! Your personal diary! Share a selfie and a thought.
        Keep your thoughts and special moments in your own personal archive.
      </p>
    </div>
    <div class="home-buttons">
    <a href="/signup"><button> SIGN UP </button></a>
    <a href="/login"><button> LOG IN </button></a>
    </div>
  </div>
</div>

</div>
