<div class="simplecenter">
<div class="main-bubble">
  <h1> MUSINGS </h1>
</div>
  <h2>Welcome to musings! Your personal diary! Share a selfie and a thought. Keep it private, or share it to the world! </h2>
</div>
