<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MUSINGS</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Cabin+Sketch" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <meta name="viewport" content="width=device-width">
    <meta property='og:image' content="images/preview.png"/>
  </head>
  <body>

    <header class="header">MUSINGS</header>

    <div class="topnav" id="myTopnav">

        <% if session[:user] == nil %>
          <a href="/home">HOME</a>
          <a href="/about">ABOUT</a>
          <a href="/signup">SIGNUP</a>
          <a href="/login">LOGIN</a>
        <% else %>
          <a href="/logout">LOG OUT</a>
          <a href="/about">ABOUT</a>
          <a href="/profile"> <%= session[:user].first_name.upcase %></a>
          <a href="/muser/<%= session[:user].id %>">MY MUSINGS</a>
          <a href="/account">MUSE-FEED</a>
        <% end %>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>


<%= yield %>

<script src="javascript.js"></script>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
  </body>
</html>
