<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MUSINGS</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Cabin+Sketch" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <body>

    <header>MUSINGS</header>

    <nav>
      <ul>
        <% if session[:user] == nil %>
          <li><a href="/home">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/signup">SIGNUP</a></li>
          <li><a href="/login">LOGIN</a></li>
        <% else %>
          <li><a href="/logout">LOG OUT</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/profile"> <%= session[:user].first_name.upcase %></a></li>
          <li><a href="/muser/<%= session[:user].id %>">MY MUSINGS</a></li>
          <li><a href="/account">MUSE-FEED</a></li>
        <% end %>
      </ul>
    </nav>


<%= yield %>

<script src="javascript.js"></script>
  </body>
</html>
