<h2>Login</h2>

<form action="/login" method="post">
<input type="text" name="email" placeholder="EMAIL"><br>
<input type="password" name="password" placeholder="PASSWORD"><br>
<input type="submit" value="ENTER!">


</form>
