<div class="simplecenter">


<h2>BECOME A MUSER!</h2>
<div class="indiv-bubble">

<form class="" action="/signup" method="post">
  <input type="text" name="first_name" required="required" placeholder="FIRST NAME"><br>
  <input type="text" name="last_name" required="required" placeholder="LAST NAME"><br>
  <input type="email" name="email" required="required" placeholder="EMAIL"><br>
  <input type="text" name="username" required="required" placeholder="DESIRED USERNAME"><br>
  <input type="password" name="password"  required="required" placeholder="PASSWORD"><br>
  <label>BIRTHDAY</label> <br>
  <input type="date" name="birthday"><br>
  <input type="submit" value="START MUSING!">
</form>

</div>

</div>
