/* BASE CSS
 BASE CSS
 BASE CSS */

:root {
  background-color: rgb(109, 98, 205);
  color: #c4ffff;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 7.5px;
  left: 20px;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 30px;
}

.homediv {
  background: linear-gradient( rgb(110, 99, 205), rgba(110, 99, 205, 0.95), rgba(0, 0, 0, 0.6)), url('images/groupselfie.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px)
}

a {
  text-decoration: none;
  color: rgb(255, 251, 181);
}

a:visited {
  color: rgb(189, 188, 122);
}

h1, h2, p {
  margin: 0;
  text-align: right;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

hr {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(150, 142, 217);
  border: 0 none;
}

/* RESPONSIVE NAV bars
RESPONSIVE NAV bars
RESPONSIVE NAV bars */

.topnav {
  overflow: hidden;
  background-color: rgb(109, 98, 205);
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  padding: 16px 15px 16px 15px;
  margin: 0 5px 0 5px;
  text-decoration: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 16px;
  transition-duration: .3s;
  position: relative;
  z-index: 10
}

.topnav a:hover {
  color: rgb(238, 255, 110);
  padding: 4px 15px 4px 15px;
  margin: 12px 5px 12px 5px;
  text-decoration: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, .9);
  border-top-width: 1px;
  border-bottom-width: 1px;
  transition-duration: .3s;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 640px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a {
    text-align: center;
    padding: 16px 15px 16px 15px;
    margin: 0;
    text-decoration: none;
    border-style: none;
    height: 16px;
  }
  .topnav a:hover {
    color: rgb(238, 255, 110);
    padding: 16px 15px 16px 15px;
    margin: 0;
    text-decoration: none;
    border-style: none;
    height: 16px;
    background-color: rgb(117, 71, 157)
  }
  .header {
    display: none
  }
}

/* FORM STYLING
FORM STYLING
FORM STYLING */

input, textarea {
  font-family: 'Abel', sans-serif;
  color: steelblue;
  margin: auto auto;
  border-style: solid;
  border-color: #7ca2df;
  width: 300px;
  height: 30px;
  border-radius: 5px 0px 5px 0px;
  font-size: 1em;
  padding: 0 15px 0 15px;
  margin: 5px;
}

textarea {
  height: 80px;
  resize: none;
  padding: 15px 15px 0 15px;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
}

input[type=submit] {
  height: 30px;
  background-color: #aba1ff;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #554e9a;
}

/*
HOME CSS
HOME CSS
HOME CSS
*/

.simplecenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 50px);
}

.simplecenter img {
  width: 50%;
  max-width: 400px;
}

.home-container {
  display: grid;
  grid-template-columns: calc(500px + 3vw) auto;
}

.home-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  flex-direction: column-reverse;
  padding-top: 15vh;
}

.home-left {
  min-width: calc(500px + 3vw);
  width: 50vw
}

.home-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  width: 100%;
  box-sizing: border-box;
}

.home-buttons a {
  padding: 5px;
}

button {
  height: 30px;
  background-color: #aba1ff;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 10px;
  width: 100%;
}

button:hover {
  background-color: #6557d9;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.main-bubble {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  padding: 20px;
  margin-bottom: 1em;
}

.main-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-top-color: #feffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -13px;
  margin-bottom: -26px;
}

.main-bubble h1 {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 6em;
  font-weight: 100;
  margin: 0;
  color: rgb(109, 98, 205);
}

.flavortext {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 480px;
  font-weight: 400;
}

.flavortext p {
  text-align: center;
}

/*
THIS IS FOR THE CAROUSEL
THIS IS FOR THE CAROUSEL
THIS IS FOR THE CAROUSEL
*/

#stage {
  margin: 1em auto;
  position: absolute;
  top: 5em;
  left: calc(25vw - 160px);
  width: 300px;
}

#stage a {
  position: absolute;
}

#stage a img {
  padding: 10px;
  background-color: #afa8e9;
  width: 400px;
  box-shadow: 2px 2px 10px black;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 2.5s;
  animation-duration: 1s;
  z-index: 20;
}

#stage a:nth-of-type(2) {
  z-index: 10;
}

#stage a:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

/*
ACCOUNT CSS
ACCOUNT CSS
ACCOUNT CSS */

.indiv-bubble {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  color: rgb(81, 71, 161);
  margin-bottom: 2em;
  width: 400px;
  box-sizing: border-box;
}

.indiv-bubble a {
  color: rgb(179, 123, 193);
  font-size: .8em;
  padding-top: 1em;
}

.indiv-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #feffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -13px;
  margin-bottom: -16px;
}

.account-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  background: linear-gradient( rgba(110, 99, 205, 1), rgba(110, 99, 205, .7), transparent), url('images/mountain.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.account-container h2 {
  text-align: center;
  padding-top: 2.5em;
}

.eachpost {
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image {
  margin-top: -2em;
  width: 400px;
}

.post-image img {
  max-width: 400px;
}

.new-post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-posts-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.all-posts-box-muser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.account-right-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.new-muse-form {
  background-color: rgba(0, 0, 0, 0.49);
  padding: 30px 20px;
  margin: 1em;
}

/* OTHER PAGES
OTHER PAGES
OTHER PAGES */

.date-and-delete {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.delete-prompt {
  width: 320px;
  margin: auto auto;
  text-align: center;
  position: absolute;
  top: 30vh;
  left: calc(50vw - 160px);
  background-color: rgba(255, 0, 0, .7);
}

/*
ABOUT
ABOUT
ABOUT */

.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient( rgba(110, 99, 205, .8), rgba(0, 0, 0, 0.6)), url('images/aboutpage.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px)
}

.about-inner-div {
  width: 400px;
  padding-top: 30vh;
  height: calc(100vh - 50px)
}

.about-inner-div p, .about-inner-div h2 {
  text-align: left;
}

/*
ABOUT
ABOUT
ABOUT */

.profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient( rgba(110, 99, 205, 1), rgba(0, 0, 0, 0.6)), url('images/profileback.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px)
}

.profile-innerdiv {
  text-align: right;
  width: 400px;

  padding: 20px;
  box-sizing: border-box;
  padding-top: 30vh;
  height: calc(100vh - 50px)
}

.profile-div div a {
  background-color: rgba(255, 0, 0, 0.9);
  line-height: 4em;
  padding: .5em;
  border-radius: 8px;
  color: white;
}

.profile-div div a:hover {
  color: rgb(255, 159, 98);
}

.profile-row {
  display: flex;
  justify-content: space-between;
}

/*
MUSER PAGE
MUSER PAGE
MUSER PAGE
*/

.muser-page-div {
  text-align: center;
  background: linear-gradient( rgba(110, 99, 205, 1), rgba(110, 99, 205, .9), rgba(0, 0, 0, 0.1)), url('images/skyline.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.muser-page-div h3 {
  margin: 0;
  padding: .5em 1em;
}

.muser-header {
  display: flex;
  justify-content: space-between;
}

.muser-title {
  background-color: rgb(139, 207, 226);
  margin-bottom: 15px;
  padding-left: 20%;
  border-radius: 0 30px 30px 0;
}

.muser-new-post {
  cursor: pointer;
  margin-right: 5%;
}

.modal-content-newpost {
  margin: 15% auto;
  width: 400px;
}

.close-newpost {
  color: rgb(210, 80, 80);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-newpost:hover, .close-newpost:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.newpost-bubble {
  position: relative;
  background: rgba(184, 173, 255, 0.6);
  width: auto;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 30px;
}

.newpost-bubble:hover {
    background-color: rgba(184, 173, 255, 0.7);
    box-shadow: 0 -1px 3px black;
    color: yellow;
}

.newpost-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgba(184, 173, 255, 0.6);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

/* SO MANY MODALS
SO MANY MODALS
SO MANY MODALS */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.delete-post {
  margin: auto;
  padding: 20px;
  width: 250px;
  position: fixed;
  background-color: rgba(255, 0, 0, .7);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(50% - 145px);
  top: calc(50vh - 100px);
  line-height: 3em;
}

.delete-post:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-top-color: rgba(255, 0, 0, .7);
  border-bottom: 0;
  border-right: 0;
  margin-left: -13px;
  margin-bottom: -26px;
}

.delete-prompt p {
  text-align: center;
  margin: 20px;
}

.close {
  padding: 10px;
  background-color: green;
  line-height: 2em;
  border-radius: 2em;
  width: 80px;
}

.delete-btn {
  padding: 10px;
  background-color: rgba(255, 70, 70, 0.71);
  line-height: 2em;
  border-radius: 2em;
  width: 80px;
}

.close:hover, .close:focus, .delete-post a:focus, .delete-post a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1)
}

.delete-or-not {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.all-div {
  padding: 15%;
  margin: 20px;
}

.demobtn input[type=submit] {
  background-color: rgb(104, 180, 107);
  box-shadow: 0 0 3px black;
}

.demobtn input[type=submit]:hover {
  background-color: purple;
}




@media screen and (max-width: 1200px) {
  .all-posts-box {
     display: grid;
     grid-template-columns: 1fr;

   }
}

@media screen and (max-width: 640px) {
  #stage a img {
    width: 280px
  }
  .homediv {
    min-height: 750px;
  }
  #stage {
    margin: 1em auto;
    position: relative;
    top: 320px;
    left: calc(50vw - 160px);
    width: 300px;
  }
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-left {
    width: 320px;
    min-width: 0px;
  }
  .home-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    flex-direction: column;
    padding-top: 0;
    height: 320px;
  }
  .flavortext {
    margin: 0 auto;
    max-width: 320px;
    font-weight: 300;
  }
  .main-bubble {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 10px;
    width: 300px;
    padding: 20px 0px;
    height: 70px;
  }
  .main-bubble h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 4em;
    font-weight: 100;
    margin: 5px;
    padding: 5px;
  }
  .home-buttons {
    grid-template-columns: 1fr;
    width: 250px;
  }
  .home-buttons button {
    margin: 0;
  }
  .account-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .all-posts-box {
    grid-template-columns: 1fr;
  }
  .all-posts-box-muser {
    grid-template-columns: 1fr;
  }
  input, textarea {
    width: 230px;
  }
  .indiv-bubble {
    width: 300px
  }
  .post-image {
    margin-top: -2em;
    width: 300px;
  }
  .post-image img {
    max-width: 300px;
  }
  .account-right-container {
    height: 100%;
  }
  .account-container h2 {
    padding-top: .5em;
  }
  .about-inner-div {
    width: 300px;
  }
  .profile-innerdiv {
    width: 300px;
  }
  .eachpost {
    margin: 0;
  }
  .date-and-delete {
    width: 300px;
  }
  .muser-title {
    margin-bottom: 15px;
    padding-left: 0;
    border-radius: 0 30px 30px 0;
  }
  .muser-header h3 {
    font-size: 1em;
  }
  .modal-content-newpost {
    width: auto;
  }
  .home-right input {
      width: 250px;
  }


}
