/* BASE CSS */
/* BASE CSS */
/* BASE CSS */

:root {
  background-color: rgb(109, 98, 205);
  color: #c4ffff;
  ;
  font-family: 'Abel', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 251, 181);
}

a:visited {
  color: rgb(189, 188, 122);
}

h1, h2, h3, p {
  margin: 0;
  text-align: right;
  font-weight: 400;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;
  overflow: hidden;
  background-color: rgb(109, 98, 205);
}

nav li {
  float: right;
}

nav li a {
  line-height: 1;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 15px 16px 15px;
  margin: 0 5px 0 5px;
  text-decoration: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 16px;
  transition-duration: .3s;
}

nav li a:hover {
  color: rgb(238, 255, 110);
  padding: 4px 15px 4px 15px;
  margin: 12px 5px 12px 5px;
  text-decoration: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgba(255, 255, 255, .9);
  border-top-width: 1px;
  border-bottom-width: 1px;
  transition-duration: .3s;
}

nav li a:visited {
  color:white;
}


/* FORM STYLING */
/* FORM STYLING */
/* FORM STYLING */

input, textarea {
  color: steelblue;
  margin: auto auto;
  border-style: none;
  width: 300px;
  height: 30px;
  border-radius: 5px 0px 5px 0px;
  font-size: 1em;
  padding: 0 15px 0 15px;
  margin: 5px;
}

textarea {
    height: 80px;
    resize: none;
    padding: 15px 15px 0 15px;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
}


input[type=submit] {
  height: 30px;
  background-color: #aba1ff;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #32279e;
}

/* HOME CSS */
/* HOME CSS */
/* HOME CSS */

.simplecenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
}

.simplecenter img {
  width: 50%;
  max-width: 400px;
}

.main-bubble {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  margin-bottom: 1em;
}

.main-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-top-color: #feffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -13px;
  margin-bottom: -26px;
}

.main-bubble h1 {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  color: rgb(109, 98, 205);
}


/* ACCOUNT CSS */
/* ACCOUNT CSS */
/* ACCOUNT CSS */


.indiv-bubble {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  color: rgb(109, 98, 205);
  margin-bottom: 2em;
  width: 400px;
  box-sizing: border-box;
}

.indiv-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: #feffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -13px;
  margin-bottom: -16px;
}

.account-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.eachpost {
  margin: 1em 0 1em 0;
}

.post-image {
  margin-top: -2em;
}

.new-post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.post-container {
  height: 70vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.greeting {
  margin: 1em;
  text-align: right;
}

.new-muse-form {
  background-color: rgba(0, 0, 0, 0.49);
  padding: 30px 20px;
}
